.block-1 {
  background-color: #104357;
  border-radius: 80px;
  border-width: 40px;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #ff6550 #ab4435 #ab4435 #ff6550;
}

.block-2 {
  border-width: 10px;
  border-color: #50bbff #50bbff #de50ff #de50ff;
  border-style: double none dotted none;
  width: 300px;
  height: 300px;
}

.block-3 {
  box-shadow: 10px 10px 69px rgba(156, 61, 61, 0.75);
  background: #158cba;
  width: 300px;
  height: 300px;
}

.block-4 {
  box-shadow: 10px 10px 69px rgba(156, 61, 61, 0.75);
  background: #158cba;
  width: 300px;
  height: 300px;
}
